// main_l.scss
// 반응형
// 메인페이지 941px~

@media all and (min-width: $tablet){
// @media 시작태그


	#gnbBox { display:none; }
	// 페이지별 디자인
	// contentBox --------------------
	#contentBox {
		@include sectionSize ($h:100%){
			position: relative;
			background-color:$black;
			// background-color:$gray;
			color:$white;
		}
		.content_area {
			position: absolute; top:50%; left:0; right:0;
			// margin-top:-240px;
			transform: translateY(-50%);
			overflow: hidden;
			@include areaSize($w: 90%, $mw:$maxWidth);
			padding: 20px; box-sizing: border-box;

			.greeting_area {
				float:left;
				width: 40%; min-width: 100px; max-width:340px;
				height: auto; min-height:432px;
				margin-left: 100px;
				padding: 0 20px; box-sizing: border-box;
				transition: all 300ms ease-out;
				animation: greetingMv 1000ms ease;

				@keyframes greetingMv {
					0% {transform: translateY(200px);}
					100% {transform: translateY(0);}
				}

				p {  
					text-align: right;
					font-size: 9rem;
					font-weight: bold;
					font-family: 'Open Sans', sans-serif;
					line-height: 9rem; 
					letter-spacing: -0.5rem;
					em {
						font-style: normal;
						color: $keyColor;
					}
				}
			}
			.category_area {
				float: right;
				width: 50%;  min-width: 450px; 
				height: auto; min-height: 300px;
							
				>ul {
					width: 100%; height: auto;
				}
				>ul li {
					float:left;
					width: 45%; min-width: 200px; max-width: 280px; 
					height: 320px;
					margin-right: 5%;
					border-radius: 2rem;
					background-color: $keyColor;
					overflow: hidden;
					
				
					&:first-child{
						animation: liMove1 1500ms alternate; 
					}
					&:last-child{
						animation: liMove2 1500ms alternate 100ms; 
						margin-right:0; 
						transform: translateY(30px);
					}

					@keyframes liMove1 {
						0% {opacity:0; transform: translateY(500px);}
						100% {opacity:1; transform: translateY(0);}
					}
					@keyframes liMove2 {
						0% {opacity:0; transform: translateY(500px);}
						100% {opacity:1; transform: translateY(30px);}
					}


					a {
						position: relative; z-index:0;
						transition: all 500ms ease-out;
						@include aLink (){
							text-align: center;
							font-size: 2rem;
							border-radius: 2rem;
							padding-top: 100px; box-sizing: border-box;
						}

						&:before {
							position: absolute; top:-50%; left:-50%; z-index:-1;
							content:""; 
							margin:auto;
							width: 0px; height: 0px;
							border-radius:100%;
							background-color: darken($keyColor, 10%);
							transform: translate(0 0);
							transition: all 500ms ease-out;
							
						}
						&:hover, &:focus{
							color: $white;
						}

						&:hover:before, 
						&:focus:before {
							width: 800px; height: 800px;
							top:-50%; left:-50%; 
							// transform: translate(-500px -500px);
						}
					}
					
					span.text_en {
						font-weight: bold; 
					}
				}
			}

		}
	}

	.download {
		position: absolute; 
		bottom: 10px; right: 250px;
		width: 200px; height: 60px;
		border-radius: 10px;
		border: 4px solid $keyColor; box-sizing: border-box;
		
		>a {
			display: block; width: 100%; height: 100%;
			text-align: center;
			line-height: 52px;
			font-size: $bodyText;
			color:$white;
			i { margin-right:5px}
		}
	}


// @media 종료태그
}