// work_m.scss
// 반응형
// 포트폴리오페이지 ~640px

@media all and (max-width: $mobile){
	// @media 시작태그
	

	#contentBox {
		@include sectionSize(){
			background-color:$black;
			color:$white;
			padding:100px 0;
		}
		.content_area {
			@include areaSize($w:90%, $mw:$maxWidth){
				// padding-bottom: 100px; box-sizing: border-box;
			}
	
			>ul {width: 100%; height:auto;}
			>ul li {
				width: 100%; height: 400px;
				padding: 30px 0; box-sizing: border-box;
				border-bottom: 1px solid $gray;
				overflow: hidden;
				
				// background-color:#1d1;
				
				
				&:last-child{border-bottom:0;}
				
				>div {
					// float:left;
					width: 100%; height: 50%;	
					transition: all 1000ms ease-out;
					transform: translateY(200px);
					opacity:0.3;
				}
				&.active > div  {
					opacity:1; 
					transform: translateY(0);
				}
	
				
				
				.title {
					max-height: 100px;
					font-size: 2rem;
					text-align: center;
					// padding-top: 200px; 
					box-sizing: border-box;
				}
				
				
				.img {
					@include bgImage($i:'../../img/jazzfestival_thum.png', $s:cover, $p: 50% 0%);
					@include boxShadow();
					background-color:#ddd;
					>a  {
						@include aLink();
						position: relative; z-index:0;
					}
					>a:hover:before {
						position: absolute; top:0; left:0; z-index:1;
						content: "Go to site";
						color:$white;
						text-align: center; font-size: 3rem; 
						padding-top: 30%; box-sizing:border-box;
						width: 100%; height: 100%;
						background-color:rgba(0,0,0,0.5);
					}
				}
			}
		}
	}




	// @media 종료태그
}