/* main.css */
#wrap {
  width: 100%;
  height: 100%;
  margin: auto;
  color: #0d0d0d;
  font-size: 1.1rem; }

@media all and (max-width: 640px) {
  #headBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #0d0d0d;
    color: #fff; }
    #headBox .head_area {
      width: 100%;
      max-width: 1440px;
      height: auto;
      margin: auto; }
    #headBox h1 {
      width: 80px;
      height: 30px;
      font-size: 1.5rem;
      text-align: center; }
      #headBox h1 > a {
        display: block;
        width: 100%;
        height: 100%; }
    #headBox #gnbBox {
      width: 100%;
      height: 40px;
      margin-top: 10px; }
      #headBox #gnbBox > ul {
        width: 100%;
        height: 100%; }
      #headBox #gnbBox > ul li {
        float: left;
        width: 50%;
        height: 100%; }
        #headBox #gnbBox > ul li > a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 40px;
          font-size: 0.875rem; } }

@media all and (min-width: 640px) and (max-width: 940px) {
  #headBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #0d0d0d;
    color: #fff; }
    #headBox .head_area {
      width: 100%;
      max-width: 1440px;
      height: auto;
      margin: auto; }
    #headBox h1 {
      float: left;
      width: 80px;
      height: 60px;
      font-size: 1.5rem;
      text-align: center; }
      #headBox h1 > a {
        display: block;
        width: 100%;
        height: 100%; }
    #headBox #gnbBox {
      float: right;
      width: 400px;
      height: 40px;
      margin-top: 30px; }
      #headBox #gnbBox > ul {
        width: 100%;
        height: 100%; }
      #headBox #gnbBox > ul li {
        float: left;
        width: 50%;
        height: 100%; }
        #headBox #gnbBox > ul li > a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 40px; } }

@media all and (min-width: 940px) {
  #headBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #0d0d0d;
    color: #fff; }
    #headBox .head_area {
      width: 100%;
      max-width: 1440px;
      height: auto;
      margin: auto; }
    #headBox h1 {
      float: left;
      width: 80px;
      height: 60px;
      font-size: 1.5rem;
      text-align: center; }
      #headBox h1 > a {
        display: block;
        width: 100%;
        height: 100%; }
    #headBox #gnbBox {
      float: right;
      width: 400px;
      height: 40px;
      margin-top: 30px; }
      #headBox #gnbBox > ul {
        width: 100%;
        height: 100%; }
      #headBox #gnbBox > ul li {
        float: left;
        width: 50%;
        height: 100%; }
        #headBox #gnbBox > ul li > a {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 40px; } }

@media all and (max-width: 640px) {
  #gnbBox {
    display: none; }
  #contentBox {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    padding-top: 80px;
    background-color: #0d0d0d;
    color: #fff; }
    #contentBox .content_area {
      position: absolute;
      margin: auto;
      width: 100%;
      max-width: 1440px;
      height: auto;
      margin: auto;
      padding: 20px;
      box-sizing: border-box; }
      #contentBox .content_area .greeting_area {
        width: 100%;
        height: 240px;
        margin-bottom: 50px;
        padding: 0 50px;
        box-sizing: border-box;
        transition: all 300ms ease-out;
        animation: greetingMv 1000ms ease; }
  @keyframes greetingMv {
    0% {
      transform: translateY(200px); }
    100% {
      transform: translateY(0); } }
        #contentBox .content_area .greeting_area p {
          text-align: center;
          font-size: 5rem;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
          line-height: 5rem;
          letter-spacing: -0.3rem; }
          #contentBox .content_area .greeting_area p em {
            font-style: normal;
            color: #fa3; }
      #contentBox .content_area .category_area {
        width: 100%;
        height: auto; }
        #contentBox .content_area .category_area > ul {
          width: 100%;
          max-width: 290px;
          height: auto;
          margin: auto; }
        #contentBox .content_area .category_area > ul li {
          float: left;
          width: 45%;
          max-width: 130px;
          height: 150px;
          margin-right: 2.5%;
          margin-left: 2.5%;
          border-radius: 1rem;
          background-color: #fa3;
          overflow: hidden; }
          #contentBox .content_area .category_area > ul li:first-child {
            animation: liMove1 1500ms alternate; }
          #contentBox .content_area .category_area > ul li:last-child {
            animation: liMove2 1500ms alternate 100ms;
            margin-right: 0;
            transform: translateY(30px); }
  @keyframes liMove1 {
    0% {
      opacity: 0;
      transform: translateY(500px); }
    100% {
      opacity: 1;
      transform: translateY(0); } }
  @keyframes liMove2 {
    0% {
      opacity: 0;
      transform: translateY(500px); }
    100% {
      opacity: 1;
      transform: translateY(30px); } }
          #contentBox .content_area .category_area > ul li a {
            position: relative;
            z-index: 0;
            transition: all 500ms ease-out;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1rem;
            border-radius: 1rem;
            padding-top: 50px;
            box-sizing: border-box; }
            #contentBox .content_area .category_area > ul li a:before {
              position: absolute;
              top: -50%;
              left: -50%;
              z-index: -1;
              content: "";
              margin: auto;
              width: 0px;
              height: 0px;
              border-radius: 100%;
              background-color: #ff9500;
              transform: translate(0 0);
              transition: all 500ms ease-out; }
            #contentBox .content_area .category_area > ul li a:hover, #contentBox .content_area .category_area > ul li a:focus {
              color: #fff; }
            #contentBox .content_area .category_area > ul li a:hover:before, #contentBox .content_area .category_area > ul li a:focus:before {
              width: 800px;
              height: 800px;
              top: -80%;
              left: -80%; }
          #contentBox .content_area .category_area > ul li span.text_en {
            font-weight: bold; }
  .download {
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 80px;
    border-radius: 1rem;
    border: 4px solid #fa3;
    box-sizing: border-box; }
    .download > a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 42px;
      font-size: 1.1rem;
      color: #fff; }
      .download > a i {
        margin-right: 5px; } }

@media all and (min-width: 640px) and (max-width: 940px) {
  #gnbBox {
    display: none; }
  #contentBox {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background-color: #0d0d0d;
    color: #fff; }
    #contentBox .content_area {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      overflow: hidden;
      width: 90%;
      max-width: 1440px;
      height: auto;
      margin: auto;
      padding: 20px;
      box-sizing: border-box; }
      #contentBox .content_area .greeting_area {
        float: left;
        width: 40%;
        min-width: 100px;
        height: auto;
        min-height: 432px;
        margin-left: -20px;
        padding: 0 20px;
        box-sizing: border-box;
        transition: all 300ms ease-out;
        animation: greetingMv 1000ms ease; }
  @keyframes greetingMv {
    0% {
      transform: translateY(200px); }
    100% {
      transform: translateY(0); } }
        #contentBox .content_area .greeting_area p {
          text-align: right;
          font-size: 7rem;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
          line-height: 7rem;
          letter-spacing: -0.5rem; }
          #contentBox .content_area .greeting_area p em {
            font-style: normal;
            color: #fa3; }
      #contentBox .content_area .category_area {
        float: right;
        width: 50%;
        height: auto;
        margin-top: 50px; }
        #contentBox .content_area .category_area > ul {
          width: 100%;
          height: auto; }
        #contentBox .content_area .category_area > ul li {
          float: left;
          width: 45%;
          height: 200px;
          margin-right: 5%;
          border-radius: 1rem;
          background-color: #fa3;
          overflow: hidden; }
          #contentBox .content_area .category_area > ul li:first-child {
            animation: liMove1 1500ms alternate; }
          #contentBox .content_area .category_area > ul li:last-child {
            animation: liMove2 1500ms alternate 100ms;
            margin-right: 0;
            transform: translateY(30px); }
  @keyframes liMove1 {
    0% {
      opacity: 0;
      transform: translateY(500px); }
    100% {
      opacity: 1;
      transform: translateY(0); } }
  @keyframes liMove2 {
    0% {
      opacity: 0;
      transform: translateY(500px); }
    100% {
      opacity: 1;
      transform: translateY(30px); } }
          #contentBox .content_area .category_area > ul li a {
            position: relative;
            z-index: 0;
            transition: all 500ms ease-out;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1.2rem;
            border-radius: 1rem;
            padding-top: 70px;
            box-sizing: border-box; }
            #contentBox .content_area .category_area > ul li a:before {
              position: absolute;
              top: -50%;
              left: -50%;
              z-index: -1;
              content: "";
              margin: auto;
              width: 0px;
              height: 0px;
              border-radius: 100%;
              background-color: #ff9500;
              transform: translate(0 0);
              transition: all 500ms ease-out; }
            #contentBox .content_area .category_area > ul li a:hover, #contentBox .content_area .category_area > ul li a:focus {
              color: #fff; }
            #contentBox .content_area .category_area > ul li a:hover:before, #contentBox .content_area .category_area > ul li a:focus:before {
              width: 800px;
              height: 800px;
              top: -50%;
              left: -50%; }
          #contentBox .content_area .category_area > ul li span.text_en {
            font-weight: bold; }
  .download {
    position: absolute;
    bottom: 10px;
    right: 250px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 4px solid #fa3;
    box-sizing: border-box; }
    .download > a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 52px;
      font-size: 1.1rem;
      color: #fff; }
      .download > a i {
        margin-right: 5px; } }

@media all and (min-width: 940px) {
  #gnbBox {
    display: none; }
  #contentBox {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background-color: #0d0d0d;
    color: #fff; }
    #contentBox .content_area {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      overflow: hidden;
      width: 90%;
      max-width: 1440px;
      height: auto;
      margin: auto;
      padding: 20px;
      box-sizing: border-box; }
      #contentBox .content_area .greeting_area {
        float: left;
        width: 40%;
        min-width: 100px;
        max-width: 340px;
        height: auto;
        min-height: 432px;
        margin-left: 100px;
        padding: 0 20px;
        box-sizing: border-box;
        transition: all 300ms ease-out;
        animation: greetingMv 1000ms ease; }
  @keyframes greetingMv {
    0% {
      transform: translateY(200px); }
    100% {
      transform: translateY(0); } }
        #contentBox .content_area .greeting_area p {
          text-align: right;
          font-size: 9rem;
          font-weight: bold;
          font-family: 'Open Sans', sans-serif;
          line-height: 9rem;
          letter-spacing: -0.5rem; }
          #contentBox .content_area .greeting_area p em {
            font-style: normal;
            color: #fa3; }
      #contentBox .content_area .category_area {
        float: right;
        width: 50%;
        min-width: 450px;
        height: auto;
        min-height: 300px; }
        #contentBox .content_area .category_area > ul {
          width: 100%;
          height: auto; }
        #contentBox .content_area .category_area > ul li {
          float: left;
          width: 45%;
          min-width: 200px;
          max-width: 280px;
          height: 320px;
          margin-right: 5%;
          border-radius: 2rem;
          background-color: #fa3;
          overflow: hidden; }
          #contentBox .content_area .category_area > ul li:first-child {
            animation: liMove1 1500ms alternate; }
          #contentBox .content_area .category_area > ul li:last-child {
            animation: liMove2 1500ms alternate 100ms;
            margin-right: 0;
            transform: translateY(30px); }
  @keyframes liMove1 {
    0% {
      opacity: 0;
      transform: translateY(500px); }
    100% {
      opacity: 1;
      transform: translateY(0); } }
  @keyframes liMove2 {
    0% {
      opacity: 0;
      transform: translateY(500px); }
    100% {
      opacity: 1;
      transform: translateY(30px); } }
          #contentBox .content_area .category_area > ul li a {
            position: relative;
            z-index: 0;
            transition: all 500ms ease-out;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 2rem;
            border-radius: 2rem;
            padding-top: 100px;
            box-sizing: border-box; }
            #contentBox .content_area .category_area > ul li a:before {
              position: absolute;
              top: -50%;
              left: -50%;
              z-index: -1;
              content: "";
              margin: auto;
              width: 0px;
              height: 0px;
              border-radius: 100%;
              background-color: #ff9500;
              transform: translate(0 0);
              transition: all 500ms ease-out; }
            #contentBox .content_area .category_area > ul li a:hover, #contentBox .content_area .category_area > ul li a:focus {
              color: #fff; }
            #contentBox .content_area .category_area > ul li a:hover:before, #contentBox .content_area .category_area > ul li a:focus:before {
              width: 800px;
              height: 800px;
              top: -50%;
              left: -50%; }
          #contentBox .content_area .category_area > ul li span.text_en {
            font-weight: bold; }
  .download {
    position: absolute;
    bottom: 10px;
    right: 250px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 4px solid #fa3;
    box-sizing: border-box; }
    .download > a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 52px;
      font-size: 1.1rem;
      color: #fff; }
      .download > a i {
        margin-right: 5px; } }

@media all and (max-width: 640px) {
  #footBox {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 15px 10px;
    box-sizing: border-box;
    background-color: #0d0d0d; }
    #footBox > p {
      text-align: center;
      color: #ccc;
      font-size: 0.785rem;
      line-height: 1rem; } }

@media all and (min-width: 640px) and (max-width: 940px) {
  #footBox {
    width: 100%;
    height: 60px;
    margin: auto;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #0d0d0d; }
    #footBox > p {
      text-align: center;
      color: #ccc;
      font-size: 0.875rem;
      line-height: 30px; } }

@media all and (min-width: 940px) {
  #footBox {
    width: 100%;
    height: 60px;
    margin: auto;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #0d0d0d; }
    #footBox > p {
      text-align: center;
      color: #ccc;
      font-size: 0.875rem;
      line-height: 30px; } }

@media all and (min-width: 640px) {
  #footBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; } }
